################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/src/.vs
**/src/*/obj
**/src/*/bin
**/src/packages
**/src/*/*.log
**/src/*/Properties
**/src/*/*.json
*.user
